// Global Stylesheet
// Good place for files to go, 16 pages long
body {
    background: orange;
}

// Typeography hide for moble and tablet
article h1 {
    display: none;
}

// Video Player Styling
video {
  border-style: solid;
   border: 20px solid #ddd;
   max-width: 100%;
   width: 100%;
}
